.text-container {
  padding: 50px 20px 0 20px;
  text-align: center;
}

.text-container p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

.webapps {
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  justify-content: center;
  gap: 25px;
  padding: 50px;
}

.webapps a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 250px;
  padding: 50px 20px;
  background-color: var(--notes);
  border-radius: 5px;
  cursor: pointer;
}

.webapps i {
  font-size: 75px;
  color: var(--green);
}

.webapps p {
  font-size: 40px;
  color: var(--light-black);
}

@media screen and (max-width: 680px) {
  .webapps {
    grid-template-columns: repeat(auto-fill, 100%);
    padding: 20px;
  }
}
