@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --orange: #e4922d;
  --green: #1aac83;
  --red: #e7195a;
  --notes: #fffff2;
  --white: #ffffff;
  --dark: #36393f;
  --light-black: #888888;
  --dark-black: #4e4e4e;
  --light-red: #ffe4e4;
  --blue: #2581d6;
  --light-blue: #5badfa;
}

body {
  background-color: var(--dark);
  max-width: 1800px;
  margin: auto;
}
